html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  /* Set color Variables */
  :root {
    --background: hsl(204, 38%, 18%);
    --header-section-bg: hsla(204, 38%, 97%, 10%);
    --lighter-background:hsl(204, 38%, 30%);
    --text:hsl(204, 38%, 97%);
    --primary:hsl(208, 57%, 65%);
    --accent:hsl(220, 67%, 45%);
    --other-accent:hsl(197, 100%, 59%);
    --link-hover:hsl(214, 100%, 75%);

  }
body {
    font-size: 125%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Hind', sans-serif;
    line-height: 1.35;
}
h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
}
p {
    max-width: 50rem;
}
a:link,a:visited {
    color: var(--other-accent);
}
a:hover {
    color:var(--link-hover);
}
a:active, a:focus {
    color: chartreuse;
}

/* Style the Banner*/
header {
    background-image: url("images/487636.jpg");
    height: 100vh;
    min-height: 600px;
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -20px;
    position: relative;
}
header section {
    padding: 1rem;
    position: absolute;
    width: 33rem;
    left: 2rem;
    bottom: 2rem;
    background-color: var(--header-section-bg);
    border-radius: 16px;
}
header section h1 {
    color:var(--text);
    font-size: 2.2em;
}
header section p {
    color:var(--text);
    font-size: 1.2em;
}
h2.centered-main {
    padding-top: 4rem;
}
/*Center the centered main class*/
.centered-main {
    width: 70%;
    max-width: 60em;
    margin: 0 auto;
}
/* Style floated boxes */
.box-right {
    box-sizing: content-box;
    float: right;
    width: 350px;
    padding: 0.5em;
    border: 2px solid var(--accent);
    margin: 0 0 1em 1em;
    border-radius: 4px;
}
.box-right img {
    width: 100%;
}
.clear-float {
    clear: both;
}

footer {
    background-color: var(--lighter-background);
    padding: 0.2em 0;
}